@use "@styles/variables";

.buttonIcon {
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  &Pill {
    border-radius: variables.$br-radius-sm;
  }

  &Circle {
    border-radius: variables.$br-radius-circle;
  }

  &Red {
    background: variables.$red;
    color: variables.$white;
  }

  &Black {
    background: variables.$dark-20;
    color: variables.$white;
  }
}
