$font-family: "Ubuntu", sans-serif;

$red: #ff0000;
$white: #ffffff;
$black: #000000;
$green: #00bf63;

$light: #eeeeee;
$yellow: #ffd369;

$dark-10: #222831;
$dark-20: #393e46;

$br-radius-sm: 5px;
$br-radius-lg: 20px;
$br-radius-circle: 50%;

$font-size-xs: 11px;
$font-size-sm: 18px;
$font-size-md: 23px;
$font-size-lg: 30px;
