@use "../../../../styles/variables";

.label {
	display: block;
	width: 100%;
}

.input {
	width: 99%;
	padding: 12px 16px;
	font-size: variables.$font-size-md;
	font-family: variables.$font-family;
	color: variables.$black;

	background-color: variables.$white;
	border: 1px solid variables.$dark-20;
	border-radius: variables.$br-radius-sm;

	outline: none;
	transition: border-color 0.2s ease;

	&::placeholder {
		color: variables.$dark-10;
	}
}
