@use "@styles/variables";

.label {
  display: block;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: variables.$font-size-md;
  font-family: inherit;
  color: variables.$dark-10;

  background-color: variables.$white;
  border: 1px solid variables.$dark-20;
  border-radius: variables.$br-radius-sm;

  outline: none;

  &::placeholder {
    color: variables.$dark-10;
  }
}
