@use "@styles/variables";

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.218);
}

.modal {
  position: relative;
  background: variables.$white;
  border-radius: variables.$br-radius-lg;
  border: 1px solid variables.$black;
  padding: 10px 15px 20px 15px;

  &CloseButton {
    background: none;
    cursor: pointer;
    color: variables.$dark-10;
    padding: 0;
    margin-left: auto;

    svg {
      width: 22px;
      height: 22px;
    }
  }
}
