@use "@styles/variables";

.title {
  margin: 0;
  font-weight: bold;
  color: variables.$dark-10;

  &Large {
    font-size: variables.$font-size-lg;
  }

  &Medium {
    font-size: variables.$font-size-md;
  }

  &Small {
    font-size: variables.$font-size-sm;
  }
}
